<section id="parties_info">
  <section id="client_contact_info">
    <h3>Prepared for</h3>
    <p>
      {{ page.client_name }}
      <br>
      {{ page.client_job_title }}
      <br>
      {{ page.client_org_name }}
      <br>
      {{ page.client_org_address }}
    </p>
  </section>

  <section id="contractor_contact_info">
    <h3>Prepared by</h3>
    <p>
      {{ page.your_name }}
      <br>
      {{ page.your_address }}
      <br>
      {{ page.your_telephone }}
      <br>
      {{ page.your_email }}
    </p>
  </section>
</section>