---
layout: default
title: Design Brief
---
{% include parties %}

<section id="introduction">
  <h2>Background & Overview</h2>

  <section id="background">
    <h3>Background</h3>
  </section>

  <section id="objective">
    <h3>Objective</h3>
  </section>
</section>

<section id="audience">
  <h2>Target audience</h2>
</section>

<section id="focus">
  <h2>Focus</h2>
</section>

<section id="benefits">
  <h2>Reasons (benefits, not features)</h2>
</section>

<section id="features">
  <h2>Features</h2>
</section>

<section id="sales-aids">
  <h2>Other sales aids</h2>
</section>

<section id="references">
  <h2>Reference sources</h2>
</section>

<section id ="schedule">
  <h2>Schedule (what &amp; when)</h2>
</section>

<section id="outputs">
  <h2>Work Products</h2>
  <ul>
    <li>Business goals</li>
    <li>Creative brief</li>
    <li>Technical brief</li>
    <li>Site map</li>
    <li>Wireframes</li>
    <li>Features & functionality</li>
    <li>Marketing strategy</li>
    <li>Schedules</li>
    <li>Budgets</li>
  </ul>
  
</section>
