---
layout: default
---
<header>
  <h1>{{ template.title }}</h1>
</header>

- Tell me a little about your business. What do you do?
- What sets your business apart?
- What aspects of your current product or service work well? What doesn’t work so well?
- Do you have any way of measuring your current successes or failures? (Analytics)
- What are the short-term goals for your business?

- Why are you looking to start this project?
- What problem is this project going to solve for your business?
- What are your goals for this project? 
  - Is it to make money, generate more leads, increase trial signups, increase brand awareness  
    or simply annoy your ex-business partner who’s apparently doing so much better than you?
- If this project could only achieve one goal, what would it be?
- How would you measure the success of this project?

- Where do you see your business in 12 months after completing this project?
- What results are you hoping to see in your business when this project is complete? What do you want to achieve?
- What will happen if this project doesn’t go ahead? How will it affect your business?
- What do you think might be the hardest part of this project? What most concerns you?

- Why do you need this website/app/service?
- What sort of timescale are you looking at?
- Did you have a budget range in mind?  
    Are we looking at $5k, $10k or $15k?  
    I don’t want to waste your time with some crazy proposal.
